.App {
  text-align: center;
  background-color: rgba(76, 148, 211, 0.077);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: auto;
  background-color: rgba(76, 148, 211, 0.208);
  /* background: url("./images/1.jpg") left 32px top 64px no-repeat,
    url("./images/2.jpg") right 32px bottom 64px no-repeat,
    rgba(76, 148, 211, 0.077);
  background-size: 180px, 150px, auto; */
}

.bg-size {
  /* height: 94vh; */
  /* height: 100%; */
  width: 100%;
}

.bg-bl {
  padding: 8em;
  background-image: url("./images/1.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px, 200px, auto;
}

.bg-image {
  /* padding: 0em; */
  outline: 1px solid black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: none;
  background: url("./images/1.jpg") left 32px top 0px no-repeat,
    url("./images/2.jpg") right 32px bottom no-repeat;
  background-size: 180px, 150px, auto;

  /* rgba(76, 148, 211, 0.077); */
}

html {
  height: 100%;
  width: 100%;
}

/* .img-bg {
  background: url("./images/1.jpg") left 32px top 64px no-repeat,
    url("./images/2.jpg") right 32px bottom 64px no-repeat;
  background-size: 130px, 130px, auto;
  height: 100%;
  width: 100%;
} */

h1,
h2,
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background: no-repeat center;
  background-size: 100% 100%;

  /* height: 630px; */
}

.form-inner-container {
  padding: 35px;
}

.form-container {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 500px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  padding: 10px;
  margin: 0px auto;
  text-align: center;
  transition: 0.4s ease-out;
}

.loginInput {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-radius: 8px;
  margin: 24px auto;
  text-align: center;
  padding: 5px;
  width: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginBtn {
  /* background: none; */
  /* border: 1px solid rgba(0, 0, 0, 0.247); */
  border: none;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s linear;
  background: linear-gradient(to left, rgb(255, 255, 255) 50%, lightblue 50%)
    right;
  background-size: 200%;
}

.loginBtn:hover {
  background-position: left;
  transition: 0.4s linear;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.center {
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.main-container {
  margin-top: 5rem;
  margin: 0px auto;
  /* max-width: 400px; */
}

.main-inner-container {
  text-align: center;
  /* padding: 10px; */
}

.name {
  padding-top: 62px;
  padding-bottom: 62px;

  font-size: 70px;
  font-family: "Tangerine", cursive;
}

.nav-bg {
  background-color: white;
  box-shadow: 0 40px 20px -10px rgba(76, 148, 211, 0.129);
}

.padding-left {
  padding-left: 10px;
}

.font-sizing {
  font-size: 20px;
}

.main-width {
  width: fit-content;
}

.inner-border {
  /* width: 50rem; */
  padding: 40px;
  border: 1px solid black;
}

.jc-center {
  margin: 0px auto;
}

.flex-end {
  justify-content: flex-end;
  float: right;
}

.flex {
  display: flex;
}

.font-black {
  color: #000;
}

ul .ml-0 {
  margin-right: 0px;
}

.mr-auto {
  margin: 0px auto;
}

.btn-hover-red:hover {
  color: red;
}

.width-fit {
  width: auto;
  max-width: 36rem;
}
